@tailwind base;
@tailwind components;
@tailwind utilities;

/* -----------------------------
   FONTS
   ----------------------------- */

/* Source Sans 3 Light (local file) */
@font-face {
  font-family: "SourceSans3";
  src: url("../assets/fonts/SourceSans3-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
/* Canela Text Regular */

@font-face {
  font-family: "CanelaText";
  src: url("../assets/fonts/CanelaText-Regular-Trial.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
}

body {
  font-family:
    SourceSans3,
    system-ui,
    -apple-system,
    Segoe UI,
    Roboto,
    sans-serif;
  background: #0b0c0f;
  color: #121418;
}

/* Hide scrollbars but keep scrolling */
.no-scrollbar::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE/Edge */
  scrollbar-width: none; /* Firefox */
}
